.content {
    padding-top: 35px;
    padding-bottom: 200px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.942708) 41.15%, #EEE4DA 60.42%, rgba(255, 255, 255, 0) 100%);

    &__logo {
        margin-bottom: 70px;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__welcome, &__text {
        text-align: center;
        font: var(--middle-high-font);
    }

    &__links {
        padding: 0 20%;
        display: flex;
        justify-content:space-evenly;
        margin-bottom: var(--medium-gap);
    }

    &__link {
        
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        transition: .3s ease-in-out;
        &:hover {
            opacity: .6;
            transform: scale(1.1);
        }
    }

    &__main-link {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(180deg, #61B959 99.99%, rgba(196, 196, 196, 0) 100%);
        color: #fff;
        border-radius: 5px;
        text-align: center;
        font: var(--small-font);
        font-size: 24px;
        margin-bottom: var(--medium-gap);
    }
   
}

[data-action="stop"] {
    display: none;
}

.pulse[data-animation="pulse"] {
    animation: pulse 1s linear infinite;
}
  
    @keyframes pulse {
        0% {
        transform: scale3d(1, 1, 1);
        }
        50% {
        transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
        transform: scale3d(1, 1, 1);    
        }
       
    }
    