//
.header {
    min-height: 530px;
    background-image: url('./../img/coats.jpeg');
    padding-top: 133px;
    background-size: contain;

    @media (max-width: 1199px) {
        min-height: 400px;
        padding-top: 50px;
    }

    @media (max-width: 899px) {
        min-height: 200px;
        padding-top: 20px;
        background-position: center;
    }

    @media (max-width: 599px) {
        min-height: 170px;
        padding-top: 20px;
    }
    

    &__title {
        padding: 50px 30px;
        width: 620px;
        background-color: rgba(214, 193, 178, 0.45);
        text-align: center;
        font-size: 50px;
        line-height: 70px;
        color: #A58E82;
        font-family: var(--font-family);
        backdrop-filter: blur(.5px);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
        cursor: pointer;

        @media (max-width: 899px) {
           width: 400px;
           font-size: 28px;
           -webkit-text-stroke-width: .9px;
           -webkit-text-stroke-color: #fff;
           padding: 40px 40px;
           line-height: 1;
        }

        @media (max-width: 599px) {
            width: 80%;
            font-size: 20px;
            line-height: 1;
            padding: 30px 5px;
        
        }
    }
}