<div class="container">
  <header class="main-header">
    <div class="main-header__logo-wrapper">
      <!-- <a href="#!" class="main-header__logo logo">
        <img src="./../img/logo.png" alt="logo">
      </a> -->
      <h1><a href="#!" class="main-header__logo logo__text" id="top">Fashion Keti online magazine</a></h1>
    </div>
    <nav class="main-header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="main.html">Главная</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">О нас</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Магазин</a></li>
      </ul>
    </nav>
  </header>

</div>
